<%= stylesheet_link_tag "friendship" %>
<div class="container">
  <h1>
    Friends Page
  </h1>
  <form class="form-inline">
  <div class="col-auto my-4">
        <label>
          Enter Your Friend Name
        </label>
  </div>
  <input type="text" class="form-control col-5" id="inlineFormInputName2" placeholder="e.g Eslam Elkholy">
  <div class="col-auto my-1">
  <%= link_to "Add Friend",friendships_path, :method => :post,class: "btn btn-success" %>
  </div>
</form>
  <div class="row">
    <div class="panel-body col-6">
      <h2>Users List</h2>
      <ul class="list-group">
        <% for user in @users %>
        <li class="list-group-item">
          <strong><%= user.email %></strong>
          <% if !current_user.friends.include? user  %>
          <%= link_to "Add Friend",friendships_path(:friend_id => user), :method => :post,class: "btn btn-info controllers" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="panel-body col-5 offset-1">
      <h2>Friends List</h2>
      <ul class="list-group">
        <% for friendship in current_user.friendships %>
        <li class="list-group-item">
          <strong><%= friendship.friend.email%></strong>
          <%= link_to "Remove", friendship, :method => :delete,class: "btn btn-danger controllers" %>
        </li>
        <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>